* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primaria: #4f46e5;
  --segundaria: greenyellow;
  --terceira: #26E8C1;
  --escura: #0f172a;
  --claro: #e2e8af;
  --vidro: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--escura);
  color: var(--claro);
}

.navegacao {
  position: fixed;
  top: 0;
  background: rgba(15, 23, 42, 0.7);
  width: 100%;
  z-index: 100;
  padding: 1.5rem;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}

.menu-link a {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.5rem;
  color: var(--claro);
}

.menu-link a::after {
  content: "";
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--segundaria);
  transition: width 0.5s ease;
}

.menu-link a:hover::after {
  width: 100%;
}

.fotoPerfil {
  width: 14rem;
  height: 14rem;
  box-shadow: 0 0 20px rgba(175, 253, 52, 0.8);
  border-radius: 50%;
  position: relative;
  border: solid 1px var(--vidro);
  z-index: 1;
  animation: flutuar 5s ease-in-out infinite;
}

@media (min-width: 1024px) {
  .fotoPerfil {
    width: 19rem;
    height: 19rem;
  }
}

.fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.fotoPerfil::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  /* border: 5px solid red;*/
  background: conic-gradient(
  #4f46e5,  /* roxo indigo */
  #26E8C1,  /* turquesa */
  #00ff95,  /* verde neon */
  #4f46e5
);
  z-index: -1;
  animation: girar 5s linear infinite;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  color: var(--segundaria);
  font-weight: bold;
  margin: 15px;
}

.paragrafoApresentacao {
  font-size: 1.5rem;
  color: var(--claro);
}

.sobre {
  padding: 6rem 2rem;
}

#sobre-caixa {
  padding: 2rem;
  max-width: 600rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
  border: 3px groove var(--vidro);
  backdrop-filter: blur(50px);
  background: rgba(155, 295, 155, 0.4);
}

#sobre-titulo {
  font-size: 2rem;
  color: var(--claro);
  padding: 10px;
}

#sobre-paragrafo {
  text-align: center;
  font-size: 1.1rem;
}

.projetos {
  padding: 6rem 2rem;
}

#projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 480px) {
  #projetos-caixa {
    grid-template-columns: 1fr;
  }
}

.projeto-cards {
  background: rgba(155, 295, 155, 0.4);
  border-radius: 15px;
  flex: 1 1 300px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--vidro);
  overflow: hidden;
  transition: all 0.5s ease;
}

.projeto-cards:hover {
  box-shadow: 0 10px 20px var(--primaria);
  transform: translateY(-10px) scale(1.03);
}

.projeto-imagem {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.caixa-texto-projeto {
  padding: 1.5rem;
}

.meus-projetos {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.titulo-projeto {
  margin-bottom: 5px;
}

.paragrafo-projeto {
  color: rgba(226, 232, 240, 0.8);
  line-height: 1.4rem;
}

.contatos {
  padding: 6rem 2rem;
}

.contatos-titulo {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(155, 295, 155, 0.4);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: 15px;
  border: groove 2px var(--vidro);
}

.grupo-form {
  margin-bottom: 2.5rem;
}

.campo-forms {
  width: 100%;
  padding: 1rem;
  background: rgba(155, 295, 155, 0.4);
  border-radius: 8px;
  border: 1px solid var(--vidro);
  outline: none;
}

.campo-forms:focus {
  border-color: var(--primaria);
  box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-form {
  color: var(--claro);
  background: linear-gradient(45deg, var(--claro), var(--primaria));
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
  transition: all 0.3 ease;
}

.botao-form:hover {
  transform: translateY(-4px);
}

.particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: radial-gradient(circle at 10% 20%, var(--terceira) 0% transparent 20%) radial-gradient(circle at 90% 80%, var(--segundaria) 0% transparent 20%);
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(-20px);
  }
  
  100% {
    transform: translateY(0);
  }
}